    
    <!-- ***** Header Area Start ***** -->
    <%-include('./partials/header.ejs') %>
    <!-- ***** Header Area End ***** -->
<style>
    .carImage{
        transition: all 0.6s;
    }
    .carImage:hover{
        transform: scale(1.05);               
    }
    img#searchIcon{
        position: absolute;
        left: 71%;
        top: 60%;
        width: 13%;
        height: 18%;
        cursor: pointer;
    }
</style>

    <div class="container" style="margin-top: 100px;">
        <div class="row w-100">
            <div class="col-md-3">
                <div class="row w-100 mt-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" style="background-color: #007BFF;">
                                <h5 class="text-white">
                                    SEARCH
                                </h5>
                            </div>
                            <div class="card-body">
                                <input type="text" class="form-control rounded-pill">
                                <img src="../public/images/searchIcon.jpg" id="searchIcon" alt="searchIcon">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row w-100 mt-5">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" style="background-color: #007BFF;">
                                <h5 class="text-white">
                                    FILTER Vehicles
                                </h5>
                            </div>
                            <div class="card-body">
                                <select name="filterVehicle" id="filterVehicle" class="form-control">
                                    <option value="" disabled selected>Filter vehicle by</option>
                                    <option value="status">Status</option>
                                    <option value="drivingMode">Driving Mode</option>
                                    <option value="airCondition">Air Condition</option>
                                    <option value="engineCapacity">Engine Capacity</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row w-100 mt-5">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" style="background-color: #007BFF;">
                                <h5 class="text-white">
                                    Customer Support
                                </h5>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled">
                                    <li class="my-1">
                                      <a href="/index#contact-us">Contact Us</a>
                                    </li>
                                    <li class="my-1">
                                      <a href="mailto:">abc2022@gmail.com</a>
                                    </li>                                    
                                    <li class="my-1">
                                      <a href="#!" >+92-33x234x44x</a>
                                    </li>
                                  </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- End of col-md-4 (main row left section) -->

            <div class="col-md-9">
                <% sentCars.forEach(car => { %>
                <div class="row w-100 border pt-2 mt-3">                    
                    <div class="col-md-5">
                        <img src="/<%= car.displayImage %> " alt="Car image" class="carImage vehicleImage" width="100%" height="100%">
                    </div>
                    <div class="col-md-7">
                        <div class="d-flex flex-column mb-3">
                            <h2 class="carName text-primary">
                                <%= car.fullName %> 
                            </h2>
                            <div class="my-1">
                                <span class="text-black-50">Model</span>
                                <h5 class="text-primary"><%= car.model %> </h5>
                            </div>             
                            </div>
                        <hr width="90%" size="10px">

                        <% let sliceCarDetails = (car.details).slice(0,150); %>

                        <div class="row w-100 mt-2 mb-4">
                            <div class="col-md-12">
                                <p>
                                    <%= sliceCarDetails %> 
                                </p>
                            </div>
                        </div>

                        <div class="row w-100">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="border-right border-left tableData">
                                            <div class="d-flex flex-column">
                                                <small class="text-secondary">Rent/day</small>
                                                <h6>
                                                    <%= car.rentPerDay%> PKR/day
                                                </h6>
                                            </div>
                                        </td>
                                        <td class="border-right tableData">
                                            <div class="d-flex flex-column">
                                                <small class="text-secondary">Driving Mode</small>
                                                <h6>
                                                    <%= car.drivingMode %> 
                                                </h6>
                                            </div>
                                        </td>
                                        <td class="border-right tableData">
                                            <div class="d-flex flex-column">
                                                <small class="text-secondary">Air Condition</small>
                                                <h6>
                                                    <%= car.airCondition %> 
                                                </h6>
                                            </div>
                                        </td>
                                        <td class="border-right tableData">
                                            <div class="d-flex flex-column">
                                                <small class="text-secondary">Staus</small>
                                                <h6 class="text-primary">
                                                    <%= car.status %> 
                                                </h6>
                                            </div>
                                        </td>                                                              
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row w-100 mt-2 mb-4">
                            <div class="col-md-4 my-1 mb-2 col-sm-12">
                                <a href="/vehicles/carDetails/withId/<%= car._id %> "
                                    class="btn btn-primary rounded-pill">Details View</a>
                            </div>
                            <% if (car.status==='Available') { %>
                                <div class="col-md-8 my-1 col-sm-12">
                                    <a href="/vehicles/reserveCar/withIds/<%= car._id %>"
                                        class="btn btn-block btn-primary rounded-pill">Let's Reserve</a>
                                </div>
                            <% }else{ %> 
                                <div class="col-md-8 col-sm-12">
                                    <a href="#"
                                        class="btn btn-block btn-secondary rounded-pill"
                                        style="cursor: not-allowed;"
                                        disabled="true">Sorry! Already reserved</a>
                                </div>
                            <% } %>
                            
                        </div>
                    </div> <!-- Col-md-8 -->                                      
                </div>
                <% }) %> <!-- End of sentCars.forEach()-->                
            </div>                                     
            <!-- End of col-md-8 (right section) -->
        </div>
        <!-- End of the main row -->
    </div> 
    <!--Container Ends-->         

    <!-- ***** Footer below ***** -->
    <%- include('./partials/footer.ejs') %>
